body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Lucida Grande", "Helvetica", sans-serif;
}

/* LAYOUT UTILS */
.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row-between {
  flex-direction: row;
  justify-content: space-between;
}


/* HEADER */
.site-header {
  flex: 0;
  padding: 4px 0px;
  border-bottom: 2px solid #ccc;
  background-color: #eee;
}

.site-header > *:first-child {
  margin-left: 12px;
}

.site-header h1 {
  font-size: 24px;
}

/* CONTENT */
.content {
  padding: 4px 0;
  margin: 0 auto;
  max-width: 720px;
}

/* ROOM LIST */
.room-list {
  width: 100%;
  font-size: 18px;
}

.room-list th {
  text-align: left;
}

.room-list td {
  padding: 10px 0px;
}

.room-list td button {
  font-size: 18px;
}


/* MODAL */
.modal-container {
  display: none;
  visibility: hidden;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  min-width: 40%;
  max-width: 80%;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #333;
  box-shadow: #333 0px 4px 24px;
}

.modal-header {

}

.modal-header button {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bolder;
}

.modal-body {

}

.row {
  margin: 5px 0px;
}

.bold {
  font-weight: bold;
}
